/* body{ */
/* max-width: 1140px; */
/* } */

.banner {
    background-color: #fcd8d4;
    display: flex;
    height: 480px;
}

.bnr-right img {
    height: 450px;
    width: 400px;
    padding-right: 50px;
    padding-top: 30px;
}

.bnr-left {
    padding: 100px;
}

.bnr-left h1 {
    font-size: 40px;
}

.bnr-left p {
    font-size: 10px;
}

.bnr-left button {
    height: 25px;
    width: 80px;
    border: none;
    border-radius: 5px;
    font-size: 1 em;
    color: white;
    background-color: #E55473;
}

button:hover {
    background-color: rgb(133, 39, 241);
}

@media screen and (max-width: 576px) {

    .banner {
        display: flex;
        flex-direction: column;
        min-width: 550px;
    }

    .bnr-left {
        margin-bottom: 20px;
    }

    .bnr-left h1 {
        font-size: 20px;
    }

    .bnr-right {}

    .bnr-right img {
        margin-top: 80px;
        background-color: #fcd8d4;
        border: 2px solid white;
        width: 100%;
        height: 320px;

    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .banner {
        width: 100%;
        height: 350px;
        border: 2px solid gold;
    }

    .bnr-left h1 {
        font-size: 15px;
    }

    .bnr-left p {
        font-size: 8px;
    }

    .bnr-right img {
        height: 250px;
        width: 200px;
    }

}
/* featured section style */

.ftr-titel{
    text-align: center;
}
.ftr-description{
    text-align: center;
    font-size: 10px;
}
.ftr-img{
    margin: 25px;
    margin-top: 30px;
}
.ftr-img img{
    
    height: 250px;
    width: 240px;
    padding-left: 70px;
    padding-top: 50px;
}
.img1{
    
    background-color: #FFD4CF;
    border-radius: 80px 90px 0px 0px;
}
.img2{
    
    background-color: #ECECEC;
    border-radius: 80px 90px 0px 0px ;
}
.img3{
    background-color: #F9E0A6;
    border-radius: 80px 90px 0px 0px;
}
.lnk{
    display: flex;
    justify-content: space-around;
}
.lnk link{
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
}
@media screen and (max-width: 576px){
    .ftr-img{
        display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                gap: 20px;
                padding-left: 20px;
       
    }

    .featured{
        margin-top: 350px;
        margin-bottom: 50px;
        padding-left: 20px;
    }
    .ftr-img .img1{
        height:250px;
        width: 220px;
        margin-top: 50px;
    }

    
}